<!DOCTYPE html>
{% load static %}
<html ng-app="MyAccesoAng" lang="es" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Acceso Principal</title>
    <link rel="stylesheet" href="{% static "app/css/acceso.css" %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="{% static "app/scripts/controller.js" %}"></script><!--  -->
</head>

<body data-ng-controller="ControllerHTTP">
    <header>
        <nav>                
            <ul class="nav-right-section">
                <li><a><img src="{% static "app/images/edI01.png" %}"/></a></li>
                <li style="float:left"><a class="active">{{ nombre }}</a></li>
                <li style="float:right"><a class="users">{{ user }}</a></li>
            </ul>
        </nav>
    </header>
    <br><br>
    <div class="container">
        <div class="card">
            <h5 class="card-header" style="background: rgb(0, 106, 9); color: white">Ingresa el N° a consultar:</h5>
            <div class="card-body">                
                <form method="post" id="formPost">
                    {% csrf_token %}
                    <input type="hidden" name="nombre" value= "{{ nombre }}" id="nombre"/>
                    <input type="hidden" name="user" value= "{{ user }}" id="user"/>
                    <br><label>MSISDN: <input type="text" id="MSISDN" name="MSISDN" ng-model="newConsulta.msisdn"/></label></br>
                    <br><label>SERIE INTERNA: <input type="text" id="SERIE" name="SERIE" ng-model="newConsulta.serie"/></label></br>
                    <br><label>ICC: <input type="text" id="SIM" name="SIM" ng-model="newConsulta.sim"/></label></br>
                    <br>
                    <button ng-click="realizarConsult()" type="button" class="btn btn-outline-primary" data-bs-target="#exampleModal" data-bs-toggle="modal" >Consultar</button>
                    <a href="/logout/" style="float:right" class="btn btn-outline-primary">Salir</a>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="row">
	    <div class="col">		    
            {% verbatim %}
		    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		        <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				    <div class="modal-header">
					    <h5 class="modal-title" id="exampleModalLabel">Datos:</h5>
					    <button type="button" class="btn-outline-primary" data-bs-dismiss="modal" aria-label="Close"></button>
				    </div>
                    
				    <div class="modal-body">
                        <div *ngIf="datosVacios">
                            <p style="color:darkred;">{{ datosVacios }}</p>
                        </div>
                        <!--  -->
                        <small>
                            <div *ngIf="datosBD">
                                <div ng-show="visDtos" class="row">
                                    <div class="col">                                    
							            <strong>Nombre:</strong> {{ datosBD[0]["NOMBRE"] }} {{ datosBD[0]["PATERNO"] }} {{ datosBD[0]["MATERNO"] }}                                        
						            </div>
                                </div>
                                <br>
                                <div ng-show="visDtos" class="row">
                                    <div class="col">                                    
							            <strong>E-mail:</strong> {{ datosBD[0]["EMAIL"] }}
						            </div>
                                    <div class="col">
							            <strong>Tipo Pago:</strong> {{ datosBD[0]["RFC"] }}
						            </div>
                                    <div class="col">
							            <strong></strong>
						            </div>
                                </div>
                                <div ng-show="visDtos" class="row">
                                    <div class="col">
							            <strong>Celular:</strong> {{ datosBD[0]["CELULAR"] }}
						            </div>
                                    <div class="col">
							            <strong>Usuario:</strong> {{ datosBD[0]["USUARIO"] }}
						            </div>
                                    <div class="col">
							            <strong>RFC:</strong> {{ datosBD[0]["CVE_ARTICULO"] }}
						            </div>
                                </div>
                                <div ng-show="visDtos" class="row">
                                    <div class="col">
							            <strong>IMSI:</strong> {{ datosBD[0]["IMSI"] }}
						            </div>
                                    <div class="col">
							            <strong>SIM:</strong> {{ datosBD[0]["SIM"] }}
						            </div>
                                    <div class="col">
							            <strong>MSISDN:</strong> {{ datosBD[0]["MSISDN"] }}
						            </div>
                                </div>

					            <div class="row" >
                                    <div><!-- class="col-md-4 offset-md-1 col-xs-8" -->
                                        <br><br><br>
						                <table ng-show="visDtos" class="table table-striped table-hover" >
							                <thead style="background: rgb(0, 90, 0); color: #D6EAF8">
								                <tr align="center">
									                <th>Referencia</th>
									                <th>Fecha Pago</th>
                                                    <th>Fecha Registro</th>
                                                    <th>NSERIE</th>
                                                    <th>Tipo Pago</th>
								                </tr>
							                </thead>
							                <tbody ng-repeat="dato in datosBD"  >
								                <tr align="center" style="background-color: #EBF5FB">
									                <td>{{ dato.REFERENCIA }}</td>
									                <td>{{ dato.HORA_PAGO }}</td>
                                                    <td>{{ dato.FECHA_REGISTRO }}</td>
                                                    <td>{{ dato.NSERIE }}</td>
                                                    <td>{{ dato.TIPO_PAGO }}</td>
								                </tr>
							                </tbody>
						                </table>	
					                </div>
					            </div>
                            </div>
                        </small>
				    </div>
				    <div class="modal-footer">
					    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Close</button>
				    </div>
				    </div>
		        </div>
		    </div>
            {% endverbatim %}

	    </div>	
    </div>
    <!-- Modal Fin -->

    <div class="container body-content">
        <hr/>
        <footer>
            <p>Edilar S.A. de C.V.</p>
        </footer>
    </div>

</body>
</html>